div#fields {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: start;
}

#fields div {
    width: 25%;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 5px 20px;
}

#registros>* {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

td,
th,
tr {
    border: 1px solid #000;
}

#btnEditar {
    display: none;
}